<article
	class="rcbcPIN"
	data-dojo-attach-point="containerNode"
>
	<div
		data-dojo-type="rcbc/pin/sectionMenu"
		data-dojo-attach-point="sectionMenu"
	></div>
	<div
		data-dojo-type="rcbc/pin/shortlist"
		data-dojo-attach-point="shortlist"
	></div>
	<aside data-dojo-attach-point="asideNode">
		<div
			data-dojo-type="rcbc/pin/sideMenu"
			data-dojo-attach-point="sideMenu"
		></div>
	</aside>
	<div class="articleContent">
		<h1 data-dojo-attach-point="titleNode"></h1>
		<div
			data-dojo-type="rcbc/pin/serviceListDisplayer"
			data-dojo-attach-point="serviceListDisplayer"
		></div>
		<div
			data-dojo-type="rcbc/pin/serviceDisplayer"
			data-dojo-attach-point="serviceDisplayer"
			data-dojo-props="application:this"
		></div>
	</div>
</article>