<article
	class="rcbcPIN"
	data-dojo-attach-point="containerNode"
>
	<div class="hiddenDiv" data-dojo-attach-point="hiddenDiv">
		<div class="buttonsPanel" data-dojo-attach-point="buttonsPanelNode">
			<button
				type="button"
				data-dojo-attach-point="manageShortlistButton"
				data-dojo-type="dijit/form/Button"
			></button>
		</div>
	</div>
	<div
		data-dojo-type="rcbc/pin/sectionMenu"
		data-dojo-attach-point="sectionMenu"
		data-dojo-props="application:this"
	></div>
	<aside data-dojo-attach-point="asideNode" class="rcbcArticleAside">
		<div
			data-dojo-attach-point="loadingNode"
			class="rcbcLoadingNotice"
		>Loading please wait...</div>
		<div
			data-dojo-type="rcbc/pin/sideMenu"
			data-dojo-attach-point="sideMenu"
			data-dojo-props="application:this"
		></div>
	</aside>
	
	<div class="articleContent" data-dojo-attach-point="articleContentNode">
		<h1 data-dojo-attach-point="titleNode"></h1>
		<div
			data-dojo-type="rcbc/pin/ContentPane"
			data-dojo-attach-point="contentPane"
			data-dojo-props="application:this"
			style="width:92%"
		></div>
		<div
			data-dojo-type="rcbc/pin/shortlist"
			data-dojo-attach-point="shortlist"
			data-dojo-props="application:this"
		></div>
		<div
			data-dojo-type="rcbc/pin/serviceListDisplayer"
			data-dojo-attach-point="serviceListDisplayer"
			data-dojo-props="application:this"
		></div>
		<div
			data-dojo-type="rcbc/pin/serviceDisplayer"
			data-dojo-attach-point="serviceDisplayer"
			data-dojo-props="application:this, titleNotify:true"
		></div>
	</div>
</article>