<tr data-dojo-attach-point="containerNode" class="rcbcCheckWithDetailsRow">
	<th data-dojo-attach-point="checkboxCell">
		<input
			type="checkbox"
			data-dojo-attach-point="checkboxNode"
			data-dojo-type="dijit/form/CheckBox"
		/>
		<label data-dojo-attach-point="labelNode"></label>
	</th><td data-dojo-attach-point="moreDetailsCell">
		<div data-dojo-attach-point="visibleDiv"></div>
		<div data-dojo-attach-point="hiddenDiv" class="rcbcCheckWithHiddenDiv"><input
			type="text"
			data-dojo-attach-point="moreDetailsNode"
			data-dojo-type="rcbc/dijit/TextBox"
			data-dojo-props="required:true"
			class="p60"
		/></div>
	</td>
</tr>