<table class="dojoRcbcDijitVenueSelect" data-dojo-attach-point="container"><tr>
	<td class="dojoRcbcDijitVenueSelectAddCell">
		<button
			data-dojo-attach-point="addItem"
			type="button"
			data-dojo-type="dijit/form/Button"
			data-dojo-props="label:'${i18n.buttonAdd}'"
		></button>
	</td>
	<td class="dojoRcbcDijitVenueSelectSelectionCell">
		<div
			data-dojo-type="rcbc/dijit/linkedIdList"
			data-dojo-props="defaultText:'Nothing has been selected'"
			data-dojo-attach-point="itemList"
		></div>
	</td>
</tr></table>