<form
	data-dojo-attach-point="containerNode"
	class="rcbcPinSearchWidget"
>
	<fieldset>
		<input
			type="text"
			name="query"
			data-dojo-type="dijit/form/TextBox"
			data-dojo-attach-point="searchInput"
			data-dojo-props="placeHolder:'Search PIN'"
		/>
		<input
			type="text"
			name="filter"
			data-dojo-type="dijit/form/TextBox"
			data-dojo-attach-point="locationInput"
			data-dojo-props="placeHolder:'In location or postcode'"
		/>
		<button
			type="button"
			data-dojo-type="dijit/form/Button"
			data-dojo-attach-point="searchButton"
		>Search</button>
	</fieldset>
</form>