<form
	data-dojo-attach-point="containerNode"
	class="rcbcPinSearchWidget"
>
	<fieldset>
		<input
			type="text"
			name="query"
			data-dojo-type="dijit/form/TextBox"
			data-dojo-attach-point="searchInput"
			data-dojo-props="placeHolder:'${i18n.searchInputPlaceHolder}'"
		/>
		<input
			type="text"
			name="filter"
			data-dojo-type="dijit/form/TextBox"
			data-dojo-attach-point="locationInput"
			data-dojo-props="placeHolder:'${i18n.locationInputPlaceHolder}'"
		/>
		<button
			type="button"
			data-dojo-type="dijit/form/Button"
			data-dojo-attach-point="searchButton"
		>${i18n.Search}</button>
	</fieldset>
</form>