<div
	class="rcbcWidgetsServicListDisplayer"
	data-dojo-attach-point="ContainerNode"
>
	<div
		class="hiddenDiv"
		data-dojo-attach-point="hiddenDiv"
	></div>
	<div
		data-dojo-attach-point="loadingNode"
		class="rcbcLoadingNotice"
	></div>
	<div
		data-dojo-attach-point="expandingDiv"
		data-dojo-type="rcbc/pin/expandingDiv"
		data-dojo-props="padding:25"
	>
			<ul
				class="rcbcWidgetsServicListDisplayerTags"
				data-dojo-attach-point="tagListNode"
			></ul>
	</div>
	<ul
		class="rcbcWidgetsServicListDisplayerServices"
		data-dojo-attach-point="serviceListNode"
	></ul>
</div>