.rcbcAgeRangeHiddenDiv{visibility:hidden;position:absolute;left:0px;top:0px;height:0px;width:0px;}
.rcbcAgeRangeTable{width:95%;}.rcbcAgeRangeTable .rcbcAgeRangeCell{vertical-align:top;}
.rcbcAgeRangeTable .rcbcAgeRangeSelectorTh{vertical-align:top;font-weight:normal;}.rcbcAgeRangeTable .rcbcAgeRangeSelectorTh .rcbcAgeRangeSelector{width:200px;}
.rcbcAgeRangeTable .rcbcAgeRangeAgeSpinner{width:50px;}
