//@import url("../claro-pink/claro.css");
@import url("./venueSelect.css");
@import url("./ageRange.css");
@import url("./tooltips.css");
@import url("./checkWithDetails.css");
@import url("./dialog.css");
@import url("./serviceListDisplayer.css");

@grey1: #efefef;

div.dojoRcbcDijitLinkedIdListItem:hover {
    cursor: pointer;
}

div.hiddenDiv {
	visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1px;
    width: 1px;
	overflow: hidden;
}

