.dojoRcbcDijitDialog{width:50%;}.dojoRcbcDijitDialog .dojoRcbcDijitDialogFeedback{background-color:#ccffcc;font-size:0.9em;padding:5px;margin:0px;text-align:center;}
.dojoRcbcDijitDialog .dojoRcbcDijitDialogError{background-color:#ffcccc;font-size:0.9em;padding:5px;margin:0px;text-align:center;}
