.rcbcPinExpandingDiv{overflow:hidden;}.rcbcPinExpandingDiv .rcbcPinExpandingHeading{cursor:pointer;}.rcbcPinExpandingDiv .rcbcPinExpandingHeading .rcbcPinExpandingDivTitle{font-weight:bold;margin:5px;display:inline-block;}
.rcbcPinExpandingDiv .rcbcPinExpandingHeading .rcbcPinExpandingDivInfo{font-style:italic;color:#aaaaaa;margin:5px;display:inline-block;}
